$font-base-color: #4f4f4f;

.message-detail-container {


  #message-list-container {
    box-shadow: inset 0 5px 5px -5px #4f4f4f;

  }

  .message-list {
     height: 35vh;
     overflow-y: scroll;
     color: $font-base-color;
     box-sizing: border-box;
     padding: 0 1rem;
     .item {
       font-size: 0.8rem;
     }
   }


  .message-send {

  }

  /*

   */
}