$font-base-color: #4f4f4f;
$loader-border: #000;


.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $loader-border;
  border-color: $loader-border transparent $loader-border transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message-detail-container {


  #message-list-container {
    box-shadow: inset 0 5px 5px -5px #4f4f4f;

  }

  .message-list {
     height: 35vh;
     overflow-y: scroll;
     color: $font-base-color;
     box-sizing: border-box;
     padding: 0 1rem;
     .item {
       font-size: 0.8rem;
     }
   }


  .message-send {

  }

  /*

   */
}